In [85]:
import pandas as pd
import numpy as np
import random
import string

# index = ['aaaaa' for i in range(10)]

'''
pd.DataFrame(
    [{i: np.random.randint(100 + 1) for i in columns} for j in index],
    index=index
)
'''

def generate():
    return ''.join(random.choice(string.ascii_lowercase+string.ascii_uppercase) for i in range(5))

index = [generate() for i in range(10)]
columns = ['국어', '영어', '수학', '사회']

pd.DataFrame([[np.random.randint(100 + 1) for i in columns] for j in index], index=index, columns=columns)

       국어   영어  수학  사회
QvZLG   9   87  41  78
xoanv  52    0  20  69
IWalk  99   97  25  20
OYebx  95    8  43   9
VPZRH  28   25   3  17
VXhOR  85    9  25  81
QPogc  29   63   0  73
KjwQq  73   66  33  82
DPMlD  95  100  40  25
wBTSa  78   46  96  87